input[type=number]{
	height: 3rem;
    font-size: 1.3rem;
    font-weight: bold;
    width: 3rem;
    text-align: center;
}

#title{
	font-family: Valo;
	font-size: 3rem;
	font-weight: bold;
	line-height: 2rem;
}

@font-face {
	font-family: Osaka;
	src: url(../fonts/osaka-re.ttf);
}
@font-face {
	font-family: Bit;
	src: url(../fonts/8-bit\ Arcade\ In.ttf);
}
@font-face {
	font-family: Valo;
	src: url(../fonts/GengarDemoRegular.ttf);
}

#jocs{
	display: none;
	column-gap: 0.5rem;
    justify-content: center;
	grid-template-columns: max-content max-content;
}

.menu-container{
	display: grid;
	position:absolute;	
	top:50%;
	left:50%;
	transform: translate(-50%,-70%);
	justify-content: center;
	grid-template-columns:  max-content;
	grid-template-rows: auto auto auto auto;
	row-gap:0.5rem;
}

.menu-object{
	width: 18.75rem;
	height: 4.688rem;
	font-size: 1rem;
	margin:auto;
}

p{
	text-align: center;
}

button{
	font-family: Valo;
	align-content: center;
	border-style: grove;
	border-radius: 0.5rem;
	border-width: 0.25rem;
	background-color: rgb(107, 107, 107);
	color: white;
	border-color: rgb(102, 102, 102);
}

.mig_boto{
	transition: all 0.5s;
	font-family: Valo;
	font-size: 1.5rem;
}

button.mig_boto:active{
	font-size: 1.6rem;
	width: 17.188rem;
	height: 4.375rem;
	border-radius: 0.25rem;
	background-color: rgb(27, 71, 138);
}

button.mig_boto:hover:not(:active){
	font-size: 1.65rem;
	background-color: rgb(88, 156, 212);
}


button:active{
	background-color: rgb(27, 71, 138);
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}
	
button.menu-object{
	transition: all 0.5s;
	font-size: 1.85rem ;
}
button.menu-object:active{
	font-size: 2rem;
	width: 17.188rem;
	height: 4.375rem;
	border-radius: 0.25rem;
	background-color: rgb(27, 71, 138);
}

button.menu-object:hover:not(:active){
	font-size: 2rem;
	width: 20.313rem;
	height: 5.313rem;
	background-color: rgb(88, 156, 212);
}

.logo{
	height: 8rem;
	width: 4rem;
}

.plataforma{
	transition: transform 2s;
}

.plataforma:hover{
	transform: rotate(80deg);
}