input[type=number]{
	height: 3rem;
    font-size: 1.3rem;
    font-weight: bold;
    width: 3rem;
    text-align: center;
}

#title{
	font-family: Valo;
	font-size: 3rem;
	font-weight: bold;
	line-height: 2rem;
}

@font-face {
	font-family: Osaka;
	src: url(../fonts/osaka-re.ttf);
}
@font-face {
	font-family: Bit;
	src: url(../fonts/8-bit\ Arcade\ In.ttf);
}
@font-face {
	font-family: Valo;
	src: url(../fonts/GengarDemoRegular.ttf);
}

#jocs{
	display: none;
	grid-template-columns: auto auto;
	justify-content: space-between;
}

button.menu-object{
	font-family: Valo;
	align-content: center;
	font-size: 1.85rem ;
	background-color: rgb(70, 70, 70);
	border-style: grove;
	border-radius: 0.5rem;
	border-width: 0.25rem;
	border-color: rgb(255, 255, 255);
	color: white;
	transition: all 0.5s;
	cursor: pointer;
}

#mig_boto{
	width: 10rem;
	height: 4.688rem;
	font-size: 1.5rem;
	margin: auto;
}

.menu-container{
	display: grid;
	justify-content: center;
	grid-template-columns:  auto;
	grid-area:auto;
	align-items: center;
	align-content: center;
}

.menu-object{
	display:flex;
	align-items:center;
	justify-content: center;
	width: 18.75rem;
	height: 4.688rem;
	font-size: 1rem;
	margin: auto;
}

p{
	text-align: center;
}
	


button.menu-object:active{
	font-size: 2rem;
	width: 17.188rem;
	height: 4.375rem;
	border-radius: 0.25rem;
	background-color: rgb(47, 108, 199);
}

button.menu-object:hover:not(:active){
	font-size: 2rem;
	width: 20.313rem;
	height: 5.313rem;
	background-color: rgb(88, 156, 212);
}

