input[type=number]{
	height: 3rem;
    font-size: 1.3rem;
    font-weight: bold;
    width: 3rem;
    text-align: center;
}

#titleG{
	width: 22rem;
	font-family: Valo;
	font-size: 3rem;
	font-weight: bold;

}

#howToPlay_id{
	display: flex;
	flex-direction: column;
	position:absolute;	
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	justify-content: center;
}

table{
	grid-column: 2;
	width: 100%;

	border-collapse: collapse;
}

.taulaE{
	height: min-content;
	grid-column: 2;
	border-right: 2px solid white;
	border-width: 0.3rem;
	border-collapse: collapse;
}

.taulaD{
	border-left: 2px solid white;
	border-width: 0.3rem;
	height: min-content;
	grid-column: 3;
}


th{
	font-family: Valo;
	text-align: center;
	font-weight: lighter;
}

#score{
	width: 45%;
}

td{
	font-family: Valo;
	text-align: center;
	color:white;
	font-size: 1.1rem;
	font-weight: lighter;
	width: 23rem;
	border-bottom: 2px dashed #b36b6b;
	border-width: 0.2rem;
	border-color:#b36b6b;
	height: 2rem;
}

th{
	font-family: Valo;
	text-align: center;
	color:white;
	font-size: 1.5rem;
	font-weight: lighter;
	border-bottom: 2px double white;
	border-width: 0.45rem;
}

hr{
	grid-column: 1 / span 4;
	width: 70rem;
	border: 0.2rem solid #994538;
	border-radius: 1rem;
}

body{
	background-color: #e69a9a;
}

#title{
	font-family: Valo;
	font-size: 3rem;
	font-weight: bold;
	line-height: 2rem;
	grid-column:1 / span 4;
}

#title2{
	color: #994538;
	font-family: Valo;
	font-size: 1.5rem;
	font-weight: bold;
	grid-column: 2;
	height: auto;
	margin-bottom: 1rem;
}

#title3{
	color: #994538;
	font-family: Valo;
	font-size: 1.5rem;
	font-weight: bold;
	grid-column: 3 ;
	height: auto;
	margin-bottom: 1rem;
}

@font-face {
	font-family: Valo;
	src: url(../fonts/Nice\ Sugar.ttf);
}

#jocs{
	display: none;
	column-gap: 0.5rem;
    justify-content: center;
	grid-template-columns: max-content max-content;
}

.menu-container{
	display: grid;
	position:absolute;	
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	justify-content: center;
	grid-template-columns:  1fr 30rem 1fr;
	row-gap:0.5rem;
	align-content: center;
}


.menu-container2{
	display: grid;
	position:absolute;	
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	justify-content: center;
	grid-template-columns: 1fr 30rem 30rem 1fr;
	grid-template-rows: auto auto auto;
	row-gap:0.5rem;
	align-content: center;
}


p{
	text-align: center;
}

button{
	font-family: Valo;
	align-content: center;
	border-style: grove;
	border-radius: 0.5rem;
	border-width: 0.25rem;
	background-color: #994538;
	color: white;
	border-color: #aa4f42;
}

.menu-object{
	grid-column: 1 / span 4;
	width: 18.75rem;
	height: 4.688rem;
	font-size: 1rem;
	margin:auto;
}
.mig_boto{
	transition: all 0.5s;
	font-family: Valo;
	font-size: 1.5rem;
}

button.mig_boto:active{
	font-size: 1.6rem;
	height: 4.375rem;
	border-radius: 0.25rem;
	background-color: #cecaca;
}

button.mig_boto:hover:not(:active){
	font-size: 1.65rem;
	background-color: #b96052;
}
	
button.menu-object{
	transition: all 0.8s;
	font-size: 1.85rem ;
}
button.menu-object:active{
	font-size: 2rem;
	width: 17.188rem;
	height: 4.375rem;
	border-radius: 0.25rem;
	background-color: rgb(138, 31, 27);
}

button.menu-object:hover:not(:active){
	font-size: 2rem;
	width: 20.313rem;
	height: 5.313rem;
	background-color: #b96052;
}


@keyframes animacioLletres {
	0% {
	  rotate: 0deg;
	}
	100% {
		rotate: 360deg;
	}
}

@keyframes animacioFitxer{
	0%{
		transform: translate(-7px,-14px);
		opacity: 100;
	}
	25%{
		transform: translate(11px,-7px);
		opacity: 100;
	}
	50%{
		transform: translate(-5px,7px);
		opacity: 100;
	}
	100%{
		opacity: 0;
		transform: translate(-7px,-14px);
	}
}

@keyframes animacioPlataforma {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(5px);
	}
	50% {
		transform: translateX(0px);
	}
	75% {
		transform: translateX(-4.5px);
	}
	100% {
		transform: translateX(0px);
	}
}

@keyframes animacioGlobus {
	0% {
		transform: translateY(0);
	}
	25% {
		transform: translateY(7px);
	}
	50% {
		transform: translateY(0px);
	}
	75% {
		transform: translateY(-5.5px);
	}
	100% {
		transform: translateY(0px);
	}
}

svg{
	grid-column: 2;
	width: 15rem;
	height: 15rem;
	margin: auto;
	align-content: center;
}

svg .lletres{
	transform-origin: center;
}

svg:hover .lletres{
	animation: animacioLletres 5s infinite linear;
}

svg:hover .plataforma{
	animation: animacioPlataforma 2.5s infinite linear;
}

svg:hover .globus{
	animation: animacioGlobus 2.5s infinite linear;
}

svg:hover .fitxer{
	animation: animacioFitxer 4s infinite linear;
}